<div class="col-xs-12">
  <div class="row-fluid">
  <h1><%=@blog.title %></h1>
  <ul><%= @blog.author %></ul>
  <ul><%= @blog.date %></ul>
  <ul><%= @blog.body %></ul>
  <ul><%= @blog.private %></ul>
</div>
<div class="row-fluid">
    <%=link_to "All Blogs", blogs_path, class: 'btn btn-lg btn-primary' %>
    <%=link_to "Edit Blog", edit_blog_path(@blog), class: 'btn btn-lg btn-primary' %>
</div>
</div>


<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blog.author %>
</p>

<p>
  <strong>Date:</strong>
  <%= @blog.date %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<p>
  <strong>Private:</strong>
  <%= @blog.private %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %> -->
